@import './normalize.scss';
@import './vars.scss';

main {
  min-height: 100vh;
  background-color: $bg-color;

  .site-title {
    margin: 0;
    font-family: 'Bungee Shade', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-weight: normal;
    width: 100%;
    text-align: center;
    font-size: 16vw;
    background: linear-gradient(
      -45deg,
      $primary-color 25%,
      $bg-color 25%,
      $primary-color 50%,
      $bg-color 50%,
      $primary-color 75%,
      $bg-color 75%,
      $primary-color
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: $size $size;
    background-position: 0 0;
    animation: stripes 1s linear infinite;
  }
}

@keyframes stripes {
  100% {
    background-position: $size 0, $size 0, $size 0;
  }
}
