#nprogress .bar {
  background: #111827 !important;
  height: 3px;
}

#nprogress .peg {
  box-shadow: 0 0 10px #111827, 0 0 5px #111827;
}

#nprogress .spinner-icon {
  border-top-color: #111827;
  border-left-color: #111827;
}
